@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}

:root{
  font-size: 20px;
  font-family: 'Gentium Book Basic', serif;
}

body {
  padding: 10px;
  /*background-color: rgb(71, 48, 80);*/
  /*background: hsl(250deg, 19%, 56%);*/
  
}

li{
  margin-left: 35px;
}

input[type="file"] {
  display: none;
}

.content,.file-tree{
  border: 1px solid black;
  border-radius: 3px;
}

.input-button{
  cursor: pointer;
  border-radius: 3px;
  background: silver;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 1rem;
}

.input-button:hover{
  background: lightgray;
  
}

input[type="text"]{
  padding: 0.25rem;
  font-family: 'Gentium Book Basic', serif;
  font-size: inherit;
}

.selected, .selected:hover,h2{
  color: #222;
}
li:hover{
  color:#777;
}


main.selector,main.viewer{
  display: flex;
  width:100%;
  height: initial;
  padding: 1rem;
  gap: 10px;
}

main.selector{
  flex-direction: column;
  overflow-y:scroll;
}
.splitter{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}
.upload-menu,.content-menu{
  display: flex;
  gap: 1rem;
}

.content-column{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link{
  margin: 0;
  cursor:pointer;
}

.file-tree li,.file-tree h2{
  cursor: pointer;
}

.file-tree *:not(.link){
  margin: 1rem;
}

.file-tree,.content{
  background: hsl(0, 0%, 98%);
}
.file-tree,.splitter,.upload-menu{
  filter: sepia(0.25) hue-rotate(0);
}


.content {
  padding: 10px;
  width: 100%;
}
.content>iframe{
  height: 100%;
}


li {
  color:#999;
}

.separator{
  border-left: 2px solid #444;
  height: auto;
  border-radius: 10px;
}


@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

.content>* {
  width: 100%;
}



.loading:empty, .loading *:empty {
  background: var(--chart-background);
}

.loading:empty::after, .loading *:empty::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, var(--chart-background), #303741 50%, var(--chart-background) 100%);
  background-size: 200px;
  background-position: -150% 0;
  background-repeat: no-repeat;
  animation: loadGradient 1.8s infinite;
}

@keyframes loadGradient {
  to {
    background-position: 350% 0, 24px 180px, 24px 242px, 24px 265px, 24px 24px, 0 300px, 0 0;
  }
}
